language: bash
os: linux
script: sudo bash build.sh

deploy:
  provider:pages
  skip_cleanup: true
  githab_token: $GITHUB_TOKEN
  keep_history: true
  script:
  - sudo perl -e "Boot took $(cut -d' ' -f1 /proc/uptime) seconds" >>README.md

